@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pattaya&display=swap');

#logo {
    font-size: 75px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 75px;
    margin-left: 35%;
    font-weight: 800;
    display: inline-block;
}

h2 {
    margin-top: 5px;
    font-size: 20px;
    font-family: Pattaya;
    margin-left: 36%;
}

body {
    background-color: black;
}

header {
    background-color: white;
    Width: 100%;
    display: inline-block;
}


#hero-image1 {
    height: 400px;
    display: inline-block;
    width: 33%;
    margin-left: 20%;
    margin-top: 70px;
}


#hero-image3 {
    height: 400px;
    width: 33%;
    margin-left: -5%;
    margin-top: 70px;
    position: relative;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    margin-bottom: 50px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 250px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a
}

p {
    font-size: 20px;
    color: white;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

.container {
    max-width: 1000px;
    margin-left: 15%;
    text-align: center;
    margin-top: 75px;
}

.container img {
    height: 100px;
    width: 100px;
    float: left;
}
